ul.blog-types{
    list-style: none;
}
div.blog:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}

div.blog p.blog-info{
    margin-bottom: 0;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1.5em;
}

ul.blog-info-description li{
    display: inline-block;
    margin-right: 1.5em;
}

div.blog-content{
    text-indent: 2em;
    word-break: break-all;
    border: 1px dashed #ccc;
    padding: 20px;
    margin-bottom: 2em;
}

div.paginator{
    text-align: center;
}

div.blog-more{
    margin-top: 1em;
}

div.comment-area{
    margin-top:2em;

}

h3.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget{
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply{
    margin-top: 2em;
    margin-left: 2em;
    border-top: 1px solid #000;
    padding: 1em;
}

#comment_title{
    margin-top: 20px;
}

div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

p#reply-title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;

}

div.like .active{
    color: #f22;
}