{% extends 'base01.html' %}
{% load staticfiles %}
{% block title %}个人资料{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="container" id="login">
        <div class="row">
            <div class="col-xs-10 cols-xs-offset-1 col-md-offset-5">
            {% if user.is_authenticated %}
                <div class="col-md-8 col-md-pull-2" style="margin-top: 150px">
                    <div class="panel panel-default" >
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>用户信息:  {{ user.username }}</h4></div>
                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item">昵称：{{ user.get_nickname }}<a href="{% url 'change_nickname' %}?from=
                    {{ request.get_full_path }}" class="pull-right">修改昵称</a></li>
                        <li class="list-group-item">邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定邮箱<a href="{% url 'bind_email' %}?from=
                    {{ request.get_full_path }}">绑定邮箱</a>
                    {% endif %}</li>
                        <li class="list-group-item">上一次登陆的时间: {{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li class="list-group-item">想要修改密码？<a href="{% url 'change_password' %}" class="pull-right">修改密码</a></li>
                      </ul>
                    </div>
                </div>
            {% else %}
                <span>未登陆，跳转到首页....</span>
                <script type="text/javascript">
                    window.location.href = '/';
                </script>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
