*{
    margin: 0;
    padding: 0;
}
/*body{*/
    /*margin-top: 50px!important;*/
/*}*/

ul{
    list-style-type: none;
}

div.container-int {

    text-align: center;
}

div.jumbotron{
    background-image: url("picture/fate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#nohead{
    margin-top: 150px;
}


ul.navbar-right{
    margin-right: 0;
}